@import 'https://fonts.googleapis.com/css?family=Raleway';

/*---------- Global style ----------*/
/* Lock the aspect ratio for iPhone 12 Pro Max */
@media screen and (max-width: 1284px) and (min-aspect-ratio: 19.5/9) {
  body {
    background-image: url('asst/pillar_of_creation-min.jpeg') ;
    background-size: 100vw 100vh;
    background-position: top right;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
  }

  .project {
    flex-basis: calc(50% - 20px); /* Set the aspect ratio for iPhone 12 Pro Max-like screens */
  }
}

/* Lock the aspect ratio for phones */
@media screen and (max-width: 768px) {

  body {
    background-image: url('asst/pillar_of_creation-min.jpeg');
    background-size: 100vw 100vh;
    background-position: top right;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: scroll;
  }

  .project {
    flex-basis: calc(100% - 20px); /* Set the full width for other phones */
  }
}

/* Lock the aspect ratio for different display resolutions (industry standard) */
@media screen and (min-width: 770px) {

  body {
    background-image: url('asst/carina_nircam_final-5mb.jpg');
    background-size: cover;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    margin: 0;
    -webkit-background-size: cover;
  }

  .project {
    flex-basis: calc(30% - 20px); /* 4 columns for high-resolution displays */
  }
}

@media screen and (min-resolution: 96dpi) and (max-resolution: 191dpi) {
  body {
    background-image: url('asst/carina_nircam_final-5mb.jpg');
    background-size: cover;
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    margin: 0;
    -webkit-background-size: cover;
  }

  .project {
    flex-basis: calc(33.33% - 20px); /* 3 columns for standard-resolution displays */
  }
}

body {

  min-height: 100vh;
}

/* Update the .project section's background to be transparent */
.project {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: none;
}
/*---------- Page Header style ----------*/
header
{
  font-family: Raleway;
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
  background: #555;
}

header h1
{
  color: #AAA;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
}

header span
{
    color: #222;
}

/*---------- Different DIV container styles ----------*/

img {
  max-width: 100%; /* Make images responsive, set max-width to 100% */
  height: auto; /* Maintain the aspect ratio of the images */
}

/* Custom styling for the navigation bar */
div.container {
  font-family: Raleway;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* Adjust the transparency */
}

div.container a {
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}



/* Additional styling for the image and text in the navigation bar */
div.container h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
}

div.container span {
  color: #FFF;
  font-size: 18px; 
  padding: 10px;
}

/* Highlight text out */
div.highlightTextOut a {
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: inline-block;
}

div.highlightTextOut a:before {
  content: attr(alt);
  position: absolute;
  color: #FFF;
  top: 0;
  left: 0;
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s;
  transform: scale(0.8);
  opacity: 0;
}

div.highlightTextOut a:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* Highlight text in */
div.highlightTextIn a {
  color: rgba(0, 0, 0, 0.4);
}

div.highlightTextIn a:before {
  transform: scale(1.2);
}

/*---------- About Me section style ----------*/

/* Custom styling for the transparent background */
.about-content {
  /*border-radius: 5px;*/
  text-align: center;
  height: 295px;
  margin-top: 250px;
  margin-bottom: 250px;
}

/* Adjust the styling for the "Welcome to Sajjad's Portfolio" text */
div.about-background h1 {
  padding:1em;
  color: #FFF;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

div.about-background span {
  color: #FFF;
  font-size: 18px; 
}



.purple
{
    background: #673ab7;

}

/*canvas bar showing galaxy stars*/

canvas {
  opacity: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  z-index: -1; /* Place the canvas behind the text */
}

.footer {
  position: relative;
  text-align: center;
  /*background: rgba(0, 0, 0, 0.1); /* Dark transparent background */
  color: #fff; /* Text color */
  padding: 20px;
  margin-top: 60px; 
}

.footer p {
  position: relative;
  z-index: 1; /* Ensure the text is in front of the canvas */
}



/* Center the text within the "Projects" section */
#PORTFOLIO {
  text-align: center;
  color: white;
}

/* Increase the width of the dark transparent background */
#PORTFOLIO h1 {
  background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  text-align: center; /* Center the text horizontally */
  position: relative;
  display: inline-block;
  margin: 20px auto;
  width: 80%; 
  margin-top: 250px;
}


.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {

  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Adjust the link styles within the projects */
.project a {
  color: #2196F3; /* Set the link color to the desired shade of blue */
  text-decoration: none;
  transition: color 0.3s; /* Add transition for a smooth color change */
}

.project a:hover {
  color: #1565C0; /* Change the color when the link is hovered */
}

.project a:active {
  color: #0D47A1; /* Change the color when the link is clicked */
}


/* Styles for the "About Me" section */
.about-background {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-background h1 {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; /* Text color */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.about-background h1 #greeting {
  display: inline; /* Display the greeting on the same line as the title */
}

.about-content {
  text-align: center;
  padding: 20px;
}

/* Custom styling for the text within the transparent box */
.about-content p {
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 600px; 
  margin: 0 auto; /* Center the box horizontally */
}



/* Adjust the minimum height for the About Me section */
#ABOUT {
  min-height: 800px; 
}

/* Center the text within the "Contact Me" section */
#CONTACT {
  color: #FFF;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: center;
}

/* Contact Header*/
#CONTACT h1 {
  font-size: 40px; 
  font-weight: lighter;
  margin-bottom: 5px;
  text-align: center;
  color: white; /* Set the text color */
}

/* Add background color to the "Contact Me" section */
#CONTACT p {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 600px; 
  margin: 0 auto; /* Center the box horizontally */
}


/* project filtering */


.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

/* Add these styles to your existing CSS code */
.button-container button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background-color 0.3s;
  text-align: center;
  margin-bottom: 20px;
}

.button-container button:hover {
  background-color: #0056b3;
}


/* go to top projects  */
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: background-color 0.3s;
  text-align: center;
  z-index: 1;
}

#goTopBtn:hover {
  background-color: #0056b3;
}