*{
    background-color:azure;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
  }

  nav {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  nav ul li a:hover {
    color: #999;
  }

  .section {
    padding: 50px;
    background-color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

/* animation of scrolling*/

.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* class for projects to delay by 200ms between each project*/

.projects {
    display: flex;
}

.projects:nth-child(2){
    transition-delay: 200ms;
}

.projects:nth-child(3){
    transition-delay: 400ms;
}

.projects:nth-child(4){
    transition-delay: 600ms;
}

.projects:nth-child(5){
    transition-delay: 800ms;
}

.projects:nth-child(6){
    transition-delay: 1000ms;
}

.projects:nth-child(7){
    transition-delay: 1200ms;
}

.projects:nth-child(8){
    transition-delay: 1400ms;
}

.projects:nth-child(9){
    transition-delay: 1600ms;
}

.projects:nth-child(10){
    transition-delay: 1800ms;
}